#Contenedor {
    width: 900px;
    height: auto;
    overflow: hidden;
    border: 0px solid #000;
    margin: auto;
}

header {
    width: 900px;
    height: 100px;
    border: 0px solid #000;
}

#Logo {
    width: 300px;
    height: 100px;
    border: 0px solid #000;
    float: left;
}

.Titulo {
    margin-top: 25px;
    font-size: 30px;
}

.SubTitulo {
    font-size: 14px;
    margin-top: -20px;
}

.Menu {
    width: 440px;
    height: 40px;
    border: 1px solid #ccc;
    float: right;
    margin-top: 40px;
    background: #006699;
}

.Menu ul {}

.Menu ul li {
    list-style: none;
    float: left;
}

.Menu ul li a {
    text-decoration: none;
    padding: 10px 15px;
    border: 0px solid #ccc;
    color: #fff;
}

.Menu ul li a:hover {
    background: #e0e0e0;
    color: #006699;
    transition: background 1s, color 1s;
}

#Slide {
    margin-top: -5px;
    width: 900px;
    height: 250px;
}

#Contenido {
    width: 900px;
    height: auto;
    overflow: hidden;
    border: 0px solid;
    margin-top: 15px;
}

.First {
    width: 280px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
    text-align: center;
    color: #4682b4;
}

.Paragraph {
    color: #707070;
    text-align: justify;
}

.Middle {
    margin-left: 12px;
    margin-right: 12px;
}

.Leer {
    text-decoration: none;
    border: 1px solid #006699;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

.Leer:hover {
    background: #006699;
    color: #fff;
    transition: background 1s, color 1s;
}

#Information {
    width: 900px;
    height: auto;
    overflow: hidden;
    border: 0px solid #c0c0c0;
    margin-top: 10px;
}

#Left {
    width: 585px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
    color: #4682b4;
}

.Image {
    margin-right: 7px;
    margin-bottom: 7px;
}

#Right {
    width: 290px;
    height: 300px;
    border: 1px solid #ccc;
    float: right;
}

footer {
    width: 900px;
    height: 100px;
    text-align: center;
}

#footer p {
    width: 500px;
}